<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script type="text/javascript" src="../javascript/jquery.min.js"></script>
    <script type="text/javascript">
        function saveJob(id) {
            var job = $("#" + id + "-name").val();
            var time = $("#" + id + "-time").val();
            var enable = $("#" + id + "-enable")[0].checked;
            var para = $("#" + id + "-para").val();
            $.post("/schedule/updatejob",
                {
                    id: id,
                    job: job,
                    time: time,
                    enable: enable,
                    para: para
                },
                function(data, status){
                    location.reload();
            });
        }
        function deleteJob(id) {
            $.post("/schedule/removeJob",
                {
                    id: id
                },
                function(data, status){
                    location.reload();
            });
        }
        function createJob() {
            var jobName = $("#new-job-name").val();
            var time = $("#new-job-time").val();
            var para = $("#new-job-para").val();
            $.post("/schedule/newJob",
            {
                job: jobName,
                time: time,
                para: para
            },
            function(data, status){
                location.reload();
            });
        }
    </script>
</head>
<body>
<h1><%= title %></h1>
The cron format(Time)<br />
*__*__*__*__*__*<br />
┬    ┬    ┬    ┬    ┬    ┬<br />
│    │    │    │    │    |<br />
│    │    │    │    │    └ day of week (0 - 7) (0 or 7 is Sun)<br />
│    │    │    │    └───── month (1 - 12)<br />
│    │    │    └────────── day of month (1 - 31)<br />
│    │    └─────────────── hour (0 - 23)<br />
│    └──────────────────── minute (0 - 59)<br />
└───────────────────────── second (0 - 59, OPTIONAL)<br />
<table>
    <head>
        <th>Enable</th>
        <th>Job name</th>
        <th>Time</th>
        <th>Parameter</th>
        <th>Save</th>
        <th>Delete</th>
        <th>ID</th>
    </head>
    <% for(var i=0; i<jobs.length; i++) {%>
    <tr>
        <td><input type="checkbox" id="<%= jobs[i].id %>-enable" <% if (jobs[i].enable == true || jobs[i].enable == 'true') { %> checked="checked" <% } %> /></td>
        <td><input type="text" id="<%= jobs[i].id %>-name" value="<%= jobs[i].name %>" /></td>
        <td><input type="text" id="<%= jobs[i].id %>-time" value="<%= jobs[i].time %>" /></td>
        <td><input type="text" id="<%= jobs[i].id %>-para" value="<%= jobs[i].para %>" /></td>
        <td><input type="button" id="<%= jobs[i].id %>-save" value="Save" onclick="saveJob('<%= jobs[i].id %>')" /></td>
        <td><input type="button" id="<%= jobs[i].id %>-delete" value="Delete"  onclick="deleteJob('<%= jobs[i].id %>')" /></td>
        <td><a href=""><%= jobs[i].id %></a></td>
    </tr>
    <% } %>
</table>
<h2>Create a new job</h2>
<table>
    <tr>
        <td>Job name:</td>
        <td><input type="text" id="new-job-name" placeholder="Job name" /></td>
    </tr>
    <tr>
        <td>Time:</td>
        <td><input type="text" id="new-job-time" value="0 0 0 * * 0" /></td>
    </tr>
    <tr>
        <td>Path:</td>
        <td><input type="text" id="new-job-para" placeholder="Path" /></td>
    </tr>
    <tr>
        <td></td>
        <td><input type="button" value="Create new job"  onclick="createJob()" /></td>
    </tr>
</table>
</body>
</html>
